:root {
	--color-background: #22223b;
	--color-text: #f2e9e4;
	--color-secondary: #4a4e69;
	--color-shadow: #c9ada7;
	--color-link: #c9ada7;
	--color-link-active: #9a8c98;
	--border-width: 2px;
	--border-radius: 5px;
	--content-padding: 0.3em;
    font-family: 'Noto Serif SC';
}

body {
	font-size: 110%;
	margin: 0 auto;
	padding: 1em;
	max-width: 40rem;
	color: var(--color-text);
	background: var(--color-background);
}

a:link, a:visited {
	color: var(--color-link);
}

a:hover, a:active {
	color: var(--color-link-active);
	text-decoration: none;
}

nav {
    position: fixed;
    left: 1rem;
}

nav a {
    padding: 0.1em;
    border-style: solid;
    border-width: var(--border-width);
    background-color: var(--color-background);
    text-decoration: none;
}

#content {
    margin-top: 2rem;  /* leave some space for nav */
}

.org-src-container {
    border-style: dotted;
    border-width: var(--border-width);
    padding: 0 var(--content-padding);
    margin: 0 var(--content-padding);
}

blockquote {
    background-color: var(--color-secondary);
    padding: 1em;
    box-shadow: -3px 0 var(--color-shadow);
    font-size: 90%
}

footer {
    font-size: 70%;
}

/* floating toc */

#table-of-contents {
	display: block;
    position: relative;
	font-size: 80%;
}

#table-of-contents h2 {
    position: fixed;
    right: 1rem;
    top: 0;
    background-color: var(--color-background);
    font-size: 100%;
    padding: var(--content-padding);
    border-style: solid;
	border-width: var(--border-width);
    border-radius: var(--border-radius);
    cursor: pointer;
}

#table-of-contents div {
    display: none;
    position: fixed;
    top: 3rem;
    right: 1rem;
    background-color: var(--color-background);
    border: 1px solid #ddd;
    border-radius: var(--border-radius);
	border-width: var(--border-width);
    padding: var(--content-padding);
	max-width: 20rem;
	max-height: 90vh;
	overflow: scroll;
}

#table-of-contents h2:hover + div,
#table-of-contents h2:focus + div,
#table-of-contents div:hover
{
    display: block;
}
